.menu {
    
    background-color: rgb(166, 41, 42);
           
    color:rgb(249, 19, 27);
        padding: 40px 0;
        position:absolute;
        top: 20px;;
        left:0%;
        height:75px; 
        width:95%;
        text-align: center;
         

    }

     .Corps{
    
        background-color: rgb(100, 149, 237);
               
        color: #180404;
            padding: 45px ;
            position:absolute;
            top:30%;
            left:0%;
            height:350px; 
            width: 94%;
            text-align: center;
    
    }

    .footer{

        background-color: rgb(189, 183, 107);
               
        color: #180404;
            padding:25 0;
            position:absolute;
            top: 80%;
            bottom: 0%;
            left:0%;
            height: 100px; 
            width:100%;
            text-align: center;
            
    }
.bleu{
    background-color: rgb(38,119,165);
            position:absolute;
            text-align: center;
            top:20%;
            left:0%;
            height:200px; 
            width:30%;
            text-align: justify;
            






    }

    .positioned {
        position: absolute;
        background-color: rgb(100, 149, 237);
        color: rgb(0, 0, 0);
        top: 5%;
        left: 5%;
      }

      .verte{
        background-color: rgb(71, 225, 135);
        padding: 10px ;
        position: absolute;
        top:0%;
        left:250%;
        height:250px; 
        width:50%;
        text-align: justify;

      }