.menu {
    
    background-color: rgb(166, 41, 42);
           
    color: #180404;
        padding: 10px 0;
        position:absolute;
        top:0%;
        left:0%;
        height:75px; 
        width:100%;
        text-align: center;
         

    }

     .Corps{
    
        background-color: rgb(100, 149, 237);
               
        color: #180404;
            padding: 10px ;
            position:absolute;
            top:30%;
            left:0%;
            height:350px; 
            width:99%;
            text-align: justify;
    
    }

    .footer{

        background-color: rgb(189, 183, 107);
               
        color: #180404;
            padding: 90px 0;
            position:absolute;
            top: 76%;
            bottom: 0%;
            left:0%;
            height: 100px; 
            width:100%;
            text-align: center;
            
    }
